body{font-family: 'Open Sans', sans-serif;font-size: 14px;}
/**************************** headerarea *******************/
.header-box {display: flex;justify-content: space-around;margin-top: 25px;}
.header-box .logo-area a{text-decoration: none;color: #FFFFFF;font-size: 14px;border: 1px solid #1CC0EF;background-color: #1CC0EF;padding:6px 19px 8px 23;border-radius: 10px;}
.top-area ul {display: flex;}
.top-area ul{margin-left:-425px;}
.top-area ul li{font-size: 14px;color:#7C8796;}
.top-area ul .start-area{border:1px solid #1CC0EF;color: #1CC0EF;font-size: 14px;padding: 3px 17px 3px 17px;border-radius: 8px;}
.header-box ul li{list-style-type: none;padding:0 15px 0 15px;}
.login-area ul{display: flex;}
.login-area ul li a{color:#7C8796;}
.login-area ul li{color: #1CC0EF;}
/*************************** banner-area **************************/
.banner-image img{width: 510px;padding-left: 90px;}
.banner-content {margin-top: 46px;padding-right: 162px;}
.banner-content h1{font-size: 36px;color: #2A3844;letter-spacing: 0.39px;font-weight: bold;}
.banner-content h5{font-size: 16px;color: #2A3844;}
.banner-content h5 span{color:#1CC0EF;}
.banner-content p{color:#2A3844;margin-bottom: 35px;}
.banner-content a{border:1px solid #1CC0EF;padding:14px 25px 14px 25px;border-radius: 8px;background-color: #1CC0EF;color: #FFFFFF;text-decoration: none;font-size: 15px;}
/******************************** share-stories  ***************************/
.story-area {background-color:#F4F8FA;padding-left: 175px;padding-top: 35px;}
.story-pic img{padding-bottom: 25px;width: 160px;}
.story-box h3{font-size: 24px;color:#2A3844;font-weight: bold;padding-bottom: 25px;}
.story-box a{text-decoration: none;border:1px solid #1CC0EF;color:#FFFFFF;background-color: #1CC0EF;font-size: 16px;border-radius: 8px;padding:13px 23.5px 13px 20.5px;}
.story-box img{width: 49px;padding-bottom: 10px;}
.story-box h5{font-size: 16px;font-weight: bold;color: #2A3844;padding-bottom: 10px;}
.story-box p{color: #5D677E;font-size: 13px;}
.story-box span img{width: 94px;}
/************************************ featured-area  ***************************/
.featured-box{margin:60px 274px 15px 125px;}
.details-image img{width: 410px;}
.details-image {padding-left: 104px;}
.details-box{text-align: left;margin: auto; padding: 40px 164px 0px 0px}
.details-box h3{font-size: 24px;color: #2A3844;font-weight: bold;}
.details-box h4{font-size: 17px;color:#2A3844;font-weight: bold;}
.details-box p{font-size: 13px;color:#5D677E;letter-spacing: 0.16px;margin-bottom: 35px;}
.details-box a{font-size: 15px;font-weight: bold;text-decoration: none;border: 1px solid #1CC0EF;border-radius: 8px;color: #1CC0EF;padding:13.5px 10px 14.5px 9px;}
/************************************* footer-area  **********************************/
footer{background-color: #F4F8FA;padding-bottom: 35px;}
.footer-box{padding-top: 25px;padding-left: 120px;}
.footer-box h6 a{text-decoration: none;}
.footer-box h6 a{font-size: 12px;color:#506D85;}
.footer-box h6 span{font-weight: bold;}
.footer-box .footer-icons{text-align:center;margin: 0 0 0 -290px;}
.footer-icons img{padding-left: 15px;}
.footer-box form input{padding: 0 38px 0 14px;border: #FFFFFF;color: #939BA2;font-size: 13px;}
.footer-box button{color:#1CC0EF;border: #FFFFFF;background-color: #FFFFFF;font-size: 14px;font-weight: bold;}
.footer-box form{border: 1px solid #E0E6EE;background-color: #FFFFFF;margin-right: 220px;}
.sign-area{border-top: 3px solid #e3eaed6e;display: flex;font-size: 12px;color: #506D85;}
.sign-area h6{color: #506D85;font-size: 12px;margin: auto;}
.sign-area p {margin-left: 210px;}





